@import url("https://fonts.googleapis.com/css?family=Fontdiner+Swanky&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

/* GENERAL */
body {
  width: 100vw;
}

header {
  background-color: #a78a52;
  height: 60px;
}

body {
  background-color: #fffdf4;
}

* {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-weight: bold;
}

p {
  font-size: 16px;
  font-weight: 400;
}

button,
a {
  font-weight: 400;
}

/* Description */

#casinodescription {
  color: #2f0303;
  text-align: center;
  height: 69px;
}

/* Game */

#brainSpin {
  width: 382px;
  height: 543px;
  border-radius: 1px 1px 1px 1px;
  background-color: #2c4b62;
  margin: auto;
}

/* Field to subscribe */

#subscribefield {
  margin-top: 23px;
  background-color: #8a7143;
  width: 100%;
  height: 148px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "txt email" "txt btn";
}

#subscribefield p {
  grid-area: "txt";
  color: white;
  width: 128px;
  margin: 25px 20px 22px 30px;
  font-size: 16px;
}

#subscribebox input {
  grid-area: "email";
  color: #2f0303;
  font-size: 16px;
  width: 185.82px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.78);
  border: none;
  margin: 25px 30.93px 8px auto;
  padding-left: 6px;
}

#subscribebox button {
  grid-area: "btn";
  color: white;
  height: 39px;
  width: 186.07px;
  border: none;
  border-radius: 5px 5px 5px 5px;
  font-size: 18px;
  background-color: #a78a52;
}

/* Section of games */

#games {
  margin: auto 26px 30px 27px;
  padding-bottom: 2em;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "heading heading" "underline underline" "arcadeBomb blackKnight" "cashVandal ecuadorGold" "crazyGenie grandWheel"
    "cinderellasBall holyDiver";
}

img {
  width: 170px;
  border-radius: 5px;
}

#games h1 {
  grid-area: heading;
  color: #2e0202;
  font-size: 28px;
  width: 226px;
  margin: 63.63px auto -7.86px auto;
  text-align: center;
}
#underline {
  grid-area: underline;
  background-color: #2e0202;
  height: 2px;
  width: 139px;
  margin: auto auto 30px auto;
}

#arcadeBomb {
  grid-area: arcadeBomb;
  box-shadow: 0px 3px 6px #8deff9;
}

#blackKnight {
  grid-area: blackKnight;
  box-shadow: 0px 3px 6px #a61e6c;
}

#cashVandal {
  grid-area: cashVandal;
  box-shadow: 0px 3px 6px #0000007c;
}

#ecuadorGold {
  grid-area: ecuadorGold;
  box-shadow: 0px 3px 6px #fae596;
}

#crazyGenie {
  grid-area: crazyGenie;
  box-shadow: 0px 3px 6px #221e72;
}

#grandWheel {
  grid-area: grandWheel;
  box-shadow: 0px 3px 6px #a61e6c;
}

#cinderellasBall {
  grid-area: cinderellasBall;
  box-shadow: 0px 3px 6px #1b147b;
}

#holyDiver {
  grid-area: holyDiver;
  box-shadow: 0px 3px 6px #141c27;
}

#chi {
  display: none;
  grid-area: chi;
  box-shadow: 0px 3px 6px pink;
}

#irishFrenzy {
  display: none;
  grid-area: irishFrenzy;
  box-shadow: 0px 3px 6px lightgreen;
}

/* Button to full site */

#casinolink {
  background-color: #a78a52;
  color: white;
  font-size: 18px;
  width: 365.91px;
  height: 44.87px;
  border-radius: 5px;
  box-shadow: 0px 3px 6px #00000016;
  text-decoration: none;
  padding: 11.13px 59.54px 9.74px 58.45px;
  margin: auto 14.55px auto 30.55px;
}

/* Footer */

footer {
  margin-top: 74.07px;
  height: 220px;
  background-color: #a78a52;
  color: white;
  padding: 20px;
}

footer img {
  width: 30%;
  margin-left: 10px;
}

#table p {
  font-size: 12px;
}

.column {
  padding: 15px;
}

.column button {
  color: white;
  height: 39px;
  width: 186.07px;
  border: none;
  border-radius: 5px 5px 5px 5px;
  background-color: #8a7143;
  font-size: 12px;
}

@media only screen and (min-width: 900px) {
  p {
    font-size: 24px;
  }
  #brainSpin {
    width: 1014.93px;
    height: 543px;
    box-shadow: 0px 0px 6px #00000058;
  }

  #subscribefield {
    margin-top: 92px;
    height: 182px;
  }

  #subscribefield p {
    width: 463px;
    margin: 58px -10px 57px 233px;
  }

  #subscribebox input {
    width: 436.06px;
    height: 40px;
    margin: 58px 168.94px 8.87px auto;
  }

  #subscribebox button {
    height: 41.13px;
    width: 441.6px;
    margin: auto 168.94px 34px auto;
  }

  #games {
    margin-left: 123px;
    margin-right: 119px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "heading heading heading heading heading" "underline underline underline underline underline" "arcadeBomb blackKnight cashVandal ecuadorGold crazyGenie" "grandWheel cinderellasBall holyDiver chi irishFrenzy";
  }

  #chi {
    display: block;
  }

  #irishFrenzy {
    display: block;
  }

  #games h1 {
    margin: 113.64px auto -7.86px auto;
  }
  #underline {
    margin: auto auto 80.64px auto;
  }

  #casinolink {
    margin: auto 400.55px 133.07px 449.55px;
  }

  footer img {
    width: 15%;
    margin-left: 30px;
  }

  #table p {
    font-size: 16px;
  }

  .column {
    padding: 15px 35px 35px 35px;
  }

  .column button {
    height: 39px;
    width: 210.07px;
    font-size: 16px;
  }
}
