body {
  background: linear-gradient(
    45deg,
    #4e0202,
    #000000,
    #4e0202,
    #000000,
    #4e0202
  );
  animation: gradient 25s linear infinite;
  background-size: 1500% 100%;
  animation-direction: reverse;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
h1 {
  color: white;
}
