.display__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Buttons */
.btn__base {
    font-weight: 600;
}
.btn--pink {
    background-color: #ec3a7b;
    border: #ec3a7b;
}

/* Greeting the USer */
#greetingUser {
    display: none;
}
.img--small {
    height: 100px;
}